/* CSS button */
button {
  background-color: #fff;
  height: 80px;
  width: 200px;
  font-weight: 300;
  text-align: center;
  font-size: 18px;
  border: 1px solid transparent;
}

button:hover {
  cursor: pointer;
}
